{% extends 'frontend/layout.html' %}
{% load static %}

<!-- Own CSS -->
{% block CSS %}
<link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
{% endblock CSS %}


<!-- Main content -->
{% block Main %}
  <div class="main-wrapper container-fluid col-xl-8">
    <div class="row mx-0 justify-content-center align-items-center">
      {% if products %}
        <div class="sort-wrapper col-12">
          <div class="row mx-0">
            <div class="sorter col-5 col-md-3 col-lg-2" data-sort="title">
              <div class="row mx-0 justify-content-center">
                <span class="material-icons">
                  sort
                </span>
                <span>Title</span>
              </div>
            </div>
          </div>
        </div>
        <div class="products-outer-wrapper row m-0 p-0 justify-content-center">
          {% for product in products %}
          <!-- product -->
          <div class="product-wrapper col-6 col-md-5 col-lg-4 col-xl-3">
              <a class="product-link" href="/product/{{product.id}}/">
              <div class="row mx-0 justify-content-center align-items-center">
                <div class="image-wrapper">
                  <img src="{% static 'frontend/images/products/' %}{{product.image}}" alt="">
                </div>
                <div class="text-wrapper">
                  <h6 class="product-title d-md-none">{{product.name}}</h6>
                  <h5 class="product-title d-none d-md-block d-xl-none">{{product.name}}</h5>
                  <h6 class="product-title d-none d-xl-block">{{product.name}}</h6>
                  <p class="">Code: {{product.code}}</p>
                  <h6 class="product-price d-md-none">$ {{product.price}}</h6>
                  <h5 class="product-price d-none d-md-block d-xl-none">$ {{product.price}}</h5>
                  <h6 class="product-price d-none d-xl-block">$ {{product.price}}</h6>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock Main %}

<!-- JS -->
{% block JS %}
<script src="{% static 'frontend/js/index.js' %}"></script>
{% endblock JS %}


