{% extends 'frontend/layout.html' %}
{% load static %}

<!-- Own CSS -->
{% block CSS %}
<link rel="stylesheet" href="{% static 'frontend/css/product.css' %}">
{% endblock CSS %}


<!-- Main content -->
{% block Main %}
  <div class="main-wrapper container">
    <div class="row mx-0 justify-content-center align-items-center">
      {% if product %}
      <!-- image -->
      <div class="image-wrapper col-12 col-md-8 col-xl-6">
        <img src="{% static 'frontend/images/products/' %}{{product.image}}" alt="">
      </div>
      <div class="text-wrapper col-12 col-lg-10 col-xl-6">
        <div class="row mx-0">
          <!-- title -->
          <div class="title-wrapper col-12">
            <h3>{{product.name}}</h3>
            <h6>code: {{product.code}}</h6>
            <h4>$ {{product.price}} </h4>
          </div>
          <!-- description -->
          <div class="description-wrapper">
            <p>{{product.description}}</p>
          </div>
        </div>
        <!-- buttons -->
        <div class="buttons-wrapper">
          <a class="add-item col-6 col-md-4" href="">Add to cart</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock Main %}

<!-- JS -->
{% block JS %}

{% endblock JS %}


