{% extends 'frontend/layout.html' %}
{% load static %}

<!-- Own CSS -->
{% block CSS %}
<link rel="stylesheet" href="{% static 'frontend/css/product.css' %}">
{% endblock CSS %}


<!-- Main content -->
{% block Main %}
  <div class="main-wrapper container">
    <div class="row mx-0 justify-content-center align-items-center">
      <!-- image -->
      <div class="image-wrapper col-12 col-md-8 col-xl-6">
        <img src="{% static 'frontend/images/products/acer-nitro-5.png' %}" alt="">
      </div>
      <div class="text-wrapper col-12 col-lg-10 col-xl-6">
        <div class="row mx-0">
          <!-- title -->
          <div class="title-wrapper col-12">
            <h3>title here</h3>
          </div>
          <!-- description -->
          <div class="description-wrapper">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo natus officia delectus ab incidunt ratione provident cupiditate dolorum ut laborum, totam assumenda, minus eaque culpa quasi quisquam quos nisi iusto.</p>
          </div>
        </div>
        <!-- buttons -->
        <div class="buttons-wrapper">
          <a class="col-6 col-md-4" href="">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
{% endblock Main %}

<!-- JS -->
{% block JS %}

{% endblock JS %}


